.container{
    .wrapping{
        padding: 100px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        
        .card{
            width: 200px;
            margin: 10px;
        }
    }
}